.navbar {
  padding: 20px;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 0;
}
.navbar-logo {
  float: left;
  width: 140px;
  height: auto;
  padding: 10px 100px;
}
.navbar ul {
  float: left;
  margin-left: 20px;
}
.navbar ul li {
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 70px;
  color: white;
  padding: 0px 13px;
  text-decoration: none;
  font-size: 30px;
}

.navbar ul li:hover {
  color: orange;
  border-radius: 2px;
}

#search {
  float: right;
  margin-top: 25px;
  margin-right: 100px;
  padding-right: 10px;
  border: none;
  font-size: 25px;
  padding: 10px;
}
