.leftimage {
  margin-right: 200px;
}

.bluecurl {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 170px;
  padding-top: 200px;
}

.study {
  z-index: 1;
  height: 60%;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 150px;
  padding-top: 120px;
}

.righttext {
  padding-top: 50px;
  padding-left: 700px;
  padding-right: 150px;
}

.text-give {
  color: orange;
}

.text-child {
  color: white;
  font-size: 70px;
}

.text-help {
  color: white;
  font-size: 20px;
}

.donate {
  background-color: lightblue;
  color: white;
  padding: 20px 70px;
  font-size: 20px;
  border-radius: 30px;
}
.home-center {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image-stats {
  margin: 10px;
  padding: 10px;
  flex: 1;
  width: 100%;
  height: 400px;
}
.dots {
  z-index: 0;
  position: absolute;
  margin: 10px;
  align-items: center;
  padding-top: 140px;
  padding-left: 320px;
}

.bigcurve {
  z-index: 1;
  position: absolute;
  margin: 20px;
  align-items: center;
  padding-left: 75px;
  padding-top: 20px;
  height: 55%;
  width: 30%;
}
.smile {
  z-index: 2;
  position: absolute;
  margin: 10px;
  align-items: center;
  padding-top: 60px;
  padding-left: 170px;
  height: 60%;
}

.circle-text {
  background-color: orange;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin-left: 500px;
  margin-top: 320px;
  z-index: 3;
  position: absolute;
}

.circle-text h3 {
  color: white;
  text-align: center;
  font-size: 250%;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 45px;
  margin-right: 30px;
}
.line {
  border-bottom: 3px solid white;
  padding-top: 80px;
  width: 50%;
  margin-left: 40px;
}
.circle-text p {
  color: white;
  text-align: center;
  font-size: 110%;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 100px;
}

.about {
  flex: 1;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 150px;
}
.about > img {
  height: 5%;
  width: 5%;
  padding-right: 10px;
  display: inline;
  vertical-align: left;
}
.about > span {
  display: inline-block;
  padding-bottom: 10px;
  vertical-align: left;
}

.title-explain {
  font-size: 250%;
  font-weight: bold;
  padding-bottom: 20px;
}

.cards-donation {
  margin: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards-donation .card {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 10px;
}

.cards-donation .card-content {
  padding: 0 20px 20px;
  text-align: center;
}
